.clearfix:before,
.clearfix:after {
  display: table;
  content: " ";
}
.clearfix:after {
  clear: both;
}
* {
  box-sizing: border-box;
}
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}
ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
ul li {
  list-style-type: none;
}
.app-wrapper {
  display: flex;
  height: 100%;
}
.app-wrapper .app-left-side {
  width: 100px;
  padding-top: 20px;
  background: #CCC;
  box-shadow: 0 2px 6px silver;
}
.app-wrapper .app-left-side .app-left-side-inner {
  display: flex;
  justify-content: center;
  width: 100px;
  height: 100%;
}
.app-wrapper .app-left-side .avatar {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}
.app-wrapper .app-right-content {
  flex: auto;
}
.app-wrapper .app-right-content .editor-content {
  display: block;
  width: 100%;
  padding: 10px;
  height: 100%;
  outline: none;
  text-align: justify;
  word-wrap: break-word;
  word-break: break-all;
  overflow: hidden;
  border: none;
  resize: none;
}
