.clearfix:before,
.clearfix:after {
	display: table;
	content: ' ';
}

.clearfix:after {
	clear: both;
}

* {
	box-sizing: border-box;
}

.scrollbar {
	overflow-x: hidden;
	overflow-y: hidden;
	&:hover {
		overflow-y: auto;
	}
	&::-webkit-scrollbar-track {
		box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
		background-color: transparent;
	}
	&::-webkit-scrollbar {
		width: 6px;
		background-color: transparent;
	}

	&::-webkit-scrollbar-thumb {
		background-color: #000000;
	}
}

html,
body {
	margin: 0;
	padding: 0;
	height: 100%;
}

ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
	li {
		list-style-type: none;
	}
}

.window-body-wrapper {
	display: flex;
	flex-direction: column;
	height: calc(100%);
}
.window-toolbar {
	position: relative;
	display: flex;
	justify-content: space-between;
	width: 100%;
	height: 30px;
	background: cadetblue;
	cursor: default;
}

.window-container {
	display: flex;
	flex: 1;
	height: calc(100% - 30px);
	.app-left-side {
		width: 100px;
		padding-top: 20px;
		background: #e5e5e5;
		box-shadow: 0 2px 6px silver;
		.app-left-side-inner {
			width: 100px;
			height: 100%;
			text-align: center;
		}
		.avatar {
			width: 60px;
			height: 60px;
			border-radius: 50%;
		}
		.nav {
			padding-top: 40px;
		}
		.nav-item {
			padding: 4px 10px;
			&:hover {
				background-color: rgb(68, 119, 64);
			}
		}
	}
	.app-right-content {
		flex: auto;
		.editor-content {
			display: block;
			width: 100%;
			padding: 10px;
			height: 100%;
			outline: none;
			text-align: justify;
			word-wrap: break-word;
			word-break: break-all;
			overflow: hidden;
			border: none;
			resize: none;
		}
	}
}

.window-controls-tool {
	span {
		width: 46px;
		line-height: 30px;
		display: inline-block;
		text-align: center;
		transition: background 0.2s ease-in;
		&:hover {
			background: #e5e5e5;
		}
	}
	.window-close:hover {
		background: #e81123;
	}
	.window-close:hover svg {
		fill: #ffffff;
		color: #ffffff;
	}
	.window-max-restore {
		display: none;
	}

	.window-max-restore.active {
		display: inline-block;
	}
}

.titlebar-drag-region {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: block;
	-webkit-app-region: drag;
}

.window-controls-tool {
	position: relative;
	z-index: 1000;
	-webkit-app-region: no-drag;
}

.window-title {
	width: 35px;
	position: relative;
	z-index: 1000;
	font: 13px/30px sans-serif;
	text-align: center;
	-webkit-app-region: drag;
	user-select: none;
}
