.clearfix:before,
.clearfix:after {
  display: table;
  content: ' ';
}
.clearfix:after {
  clear: both;
}
* {
  box-sizing: border-box;
}
a {
  outline: none;
}
.scrollbar {
  overflow-x: hidden;
  overflow-y: hidden;
}
.scrollbar:hover {
  overflow-y: auto;
}
.scrollbar::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: transparent;
}
.scrollbar::-webkit-scrollbar {
  width: 6px;
  background-color: transparent;
}
.scrollbar::-webkit-scrollbar-thumb {
  background-color: #000000;
}
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}
ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
ul li {
  list-style-type: none;
}
.window-body-wrapper {
  display: flex;
  flex-direction: column;
  height: calc(100%);
}
.window-toolbar {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 30px;
  background: cadetblue;
  cursor: default;
}
.window-container {
  display: flex;
  flex: 1;
  height: calc(100% - 30px);
}
.window-container .app-left-side {
  width: 100px;
  padding-top: 20px;
  background: #e5e5e5;
  box-shadow: 0 2px 6px silver;
}
.window-container .app-left-side .app-left-side-inner {
  width: 100px;
  height: 100%;
  text-align: center;
}
.window-container .app-left-side .avatar {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}
.window-container .app-left-side .nav {
  padding-top: 40px;
}
.window-container .app-left-side .nav-item {
  padding: 4px 10px;
  cursor: default;
}
.window-container .app-left-side .nav-item:hover {
  background-color: #447740;
  color: rgba(255, 255, 255, 0.8);
}
.window-container .app-right-content {
  flex: auto;
}
.window-container .app-right-content .editor-content {
  display: block;
  width: 100%;
  padding: 10px;
  height: 100%;
  outline: none;
  text-align: justify;
  word-wrap: break-word;
  word-break: break-all;
  overflow: hidden;
  border: none;
  resize: none;
}
.window-controls-tool span {
  width: 46px;
  line-height: 30px;
  display: inline-block;
  text-align: center;
  transition: background 0.2s ease-in;
}
.window-controls-tool span:hover {
  background: #e5e5e5;
}
.window-controls-tool .window-close:hover {
  background: #e81123;
}
.window-controls-tool .window-close:hover svg {
  fill: #ffffff;
  color: #ffffff;
}
.window-controls-tool .window-max-restore {
  display: none;
}
.window-controls-tool .window-max-restore.active {
  display: inline-block;
}
.titlebar-drag-region {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  -webkit-app-region: drag;
}
.window-controls-tool {
  position: relative;
  z-index: 1000;
  -webkit-app-region: no-drag;
}
.window-title {
  width: 35px;
  position: relative;
  z-index: 1000;
  font: 13px/30px sans-serif;
  text-align: center;
  -webkit-app-region: drag;
  user-select: none;
}
